* {
    font-family: 'Playfair Display', serif;;
}   

body {
    background-color: #FFF7F7;
}

html {
    scroll-behavior: smooth;
}   

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 960px;
    height: 587px;
    position: relative;
    padding: 50;
    text-align: justify;
    font-size: 60px;
}

.center .circle {
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 20px;
}
footer {
    display: flex;
    justify-content: center;
}